{% extends "layout.html" %}
{% load static %}

{% block title %} {{list.title}} {% endblock %}

{% block content %}

<h1>{{ list.title }}</h1>
<a href="{% url 'lists:update' pk=list.pk %}"><button>Update</button></a>
<div>
  <a href="{% url 'lists:task-create' list_pk=list.pk %}">
    <button>Add Task!</button>
  </a>
</div>

{% for task in list.tasks.all %}
  <h4 {% if task.completed %}class='checked'{% endif %}>
    {{ task.task }}
    {{ task.due_date }}
    <form method="POST" action="{% url 'lists:task-update' list_pk=list.pk pk=task.pk %}">
      {% csrf_token %}
      <input class="checkbox"
              type="checkbox" {% if task.completed %}checked{% endif %}>
    </form>
    <form method="POST" action="{% url 'lists:task-delete' list_pk=list.pk pk=task.pk  %}">
      {% csrf_token %}
      <button>Delete</button>
    </form>

  </h4>
{% empty %}
  <h4>No tasks yet!</h4>
{% endfor %}

{% endblock %}
